html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables and Mixins */
/* End Variables and Mixins */
body {
  font-size: 16px;
}

.full-wrap {
  background: url("../images/bg-intro-desktop.png"), #ff7a7a;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.hero,
.cards {
  display: flex;
  width: 50%;
}

.hero {
  color: white;
  flex-direction: column;
  padding: 20% 4% 0 10%;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
}
.hero__copy {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6rem;
  margin-top: 2rem;
  opacity: 0.8;
}

.cards {
  flex-direction: column;
  padding: 0 12% 0 0;
  justify-content: center;
}
.cards__featured {
  font-family: "Poppins`", sans-serif;
  font-weight: 400;
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  background: #6055a5;
  border-radius: 10px;
  color: white;
  padding: 22px 0;
  text-align: center;
  width: 100%;
}
.cards__featured--bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.cards__form {
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
  width: 100%;
}
.cards__form form {
  display: flex;
  flex-direction: column;
}
.cards__form form .form-control {
  margin: 0 auto 20px auto;
  position: relative;
  width: 85%;
}
.cards__form form .form-control:first-child {
  margin-top: 35px;
}
.cards__form form .form-control input {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: transparent;
  border-radius: 6px;
  border: 1px solid rgba(185, 182, 211, 0.6);
  color: #3e3c49;
  font-size: 0.9rem;
  outline: none;
  padding: 17px 10px 17px 20px;
  width: 100%;
}
.cards__form form .form-control input:active, .cards__form form .form-control input:focus {
  border-color: #6055a5;
}
.cards__form form .form-control input::-webkit-input-placeholder {
  color: #3e3c49;
  opacity: 0.6;
}
.cards__form form .form-control img {
  display: none;
  position: absolute;
  top: 15px;
  right: 25px;
}
.cards__form form .form-control p {
  display: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ff7a7a;
  font-size: 0.65rem;
  padding-top: 10px;
  text-align: right;
  font-style: italic;
}
.cards__form form .form-control.error img,
.cards__form form .form-control.error p {
  display: block;
}
.cards__form form .form-control.error input {
  border: 2px solid #ff7a7a;
  color: #ff7a7a;
}
.cards__form form button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #38cc8c;
  border-color: transparent;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px 0px #2fb67c;
  box-shadow: 0px 4px 0px 0px #2fb67c;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 0 auto;
  outline: none;
  padding: 15px 0;
  text-transform: uppercase;
  width: 85%;
}
.cards__form form button:active, .cards__form form button:focus {
  background: #aeead0;
  -webkit-box-shadow: 0px 4px 0px 0px #85e0b9;
  box-shadow: 0px 4px 0px 0px #85e0b9;
}
.cards__form__terms {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #b9b6d3;
  font-size: 0.65rem;
  margin: 0 auto;
  padding: 20px 0 40px;
  text-align: center;
  width: 85%;
}
.cards__form__terms--link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ff7a7a;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .full-wrap {
    background: url("/images/bg-intro-mobile.png"), #ff7a7a;
    flex-direction: column;
    height: 100%;
    overflow: visible;
    padding-bottom: 10%;
  }

  .hero,
.cards {
    display: flex;
    width: 95%;
  }

  .hero {
    margin: 0 auto;
    padding: 20% 5% 10%;
    text-align: center;
  }
  .hero__title {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .hero__copy {
    line-height: 1.9rem;
  }

  .cards {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  .cards__featured {
    padding: 22px 10%;
    line-height: 1.3rem;
  }
  .cards__form__terms {
    line-height: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
