@import "reset";

/* Variables and Mixins */
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);
$white: hsl(0, 0, 100%);

@mixin font__reg {
  font-family: "Poppins`", sans-serif;
  font-weight: 400;
}
@mixin font__med {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@mixin font__semiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@mixin font__bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
/* End Variables and Mixins */

body {
  font-size: 16px;
}

.full-wrap {
  background: url("../images/bg-intro-desktop.png"), $red;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.hero,
.cards {
  display: flex;
  width: 50%;
}

.hero {
  color: $white;
  flex-direction: column;
  padding: 20% 4% 0 10%;
  &__title {
    @include font__bold;
    font-size: 3rem;
    line-height: 3.6rem;
  }
  &__copy {
    @include font__med;
    line-height: 1.6rem;
    margin-top: 2rem;
    opacity: 0.8;
  }
}

.cards {
  flex-direction: column;
  padding: 10% 12% 0 0;
  &__featured {
    @include font__reg;
    color: $white;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    background: $blue;
    border-radius: 10px;
    &--bold {
      @include font__semiBold;
    }
  }
}
